<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js%22%3E</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js%22%3E</script>

<!-- custom js file link  -->
<script src="/js/script.js"></script>

<script>
   lightGallery(document.querySelector('.gallery .gallery-container'));
</script>

</body>
</html>
