<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Riyasyz.kz</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> <!-- animate on scroll biblioteka-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<body>

<!-- header-->
<section class="header">

   <a href="/" class="logo">
     <div class="logo-image">
       <img src="images/logohs.png" class="img-fluid" width="180" height="80"></div></a>
   <nav class="navbar">
      <a href="events">events</a>
      <a href="#gallery">gallery</a>
      <a href="#about">about us</a>
      <a href="#">contacts</a>
      <a href="profile">profile</a>

      <form  action="/login" method="get">
        <button type="submit"  style="margin-left:50px; margin-right:50px ;height:50px;width:70px; font-size:20px">Login</button>
      </form>
   </nav>
   <div id="menu-btn" class="fas fa-bars"></div>
</section>

<!--home-->
<section class="home" id="home">
   <div class="swiper home-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide slide" style="background: url(images/vol1.jpg) no-repeat;">
            <div class="content">
               <h3>What is Riyasyz.kz?</h3>
               <a href="#" class="btn">get started</a>
            </div>
         </div>

         <div class="swiper-slide slide" style="background: url(images/vol2.webp) no-repeat;">
            <div class="content">
               <h3>Good deeds</h3>
               <a href="#" class="btn">get started</a>
            </div>
         </div>

         <div class="swiper-slide slide" style="background: url(images/vol3.jpg) no-repeat;">
            <div class="content">
               <h3>Great experience</h3>
               <a href="#" class="btn">get started</a>
            </div>
         </div>

         <div class="swiper-slide slide" style="background: url(images/vol4.jpg) no-repeat;">
            <div class="content">
               <h3>Development of teamwork skills</h3>
               <a href="#" class="btn">get started</a>
            </div>
         </div>

      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

   </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->
<section class="about" id="about">
   <div class="image" data-aos="fade-right">
      <img src="images/vol5.png" alt="">
   </div>

   <div class="content">
      <h3 class="title" data-aos="fade-down">Welcome to our Riyasyz!</h3>
      <p data-aos="fade-down">Our platform is focused on all areas of volunteering. Here you can not only get acquainted with the types of volunteering, but also find upcoming events in your city.</p>
      <a href="#" class="btn" data-aos="fade-down" style="border: 4px double black;">read more</a>
   </div>

</section>

<!-- about section ends -->


<!-- gallery section starts  -->

<section class="gallery" id="gallery">

   <div class="heading">
      <span data-aos="fade-left">our gallery</span>
      <h3 data-aos="fade-left">photos from past events</h3>
   </div>

   <div class="gallery-container">

      <a href="images/vol6.jpg" class="box">
         <img src="images/vol6.jpg" alt="">
         <div class="icon"> <i class="fas fa-plus"></i> </div>
      </a>

      <a href="images/vol7.jpg" class="box">
         <img src="images/vol7.jpg" alt="">
         <div class="icon"> <i class="fas fa-plus"></i> </div>
      </a>

      <a href="images/vol8.jpg" class="box">
         <img src="images/vol8.jpg" alt="">
         <div class="icon"> <i class="fas fa-plus"></i> </div>
      </a>

      <a href="images/vol9.jpg" class="box">
         <img src="images/vol9.jpg" alt="">
         <div class="icon"> <i class="fas fa-plus"></i> </div>
      </a>

      <a href="images/vol10.jpg" class="box">
         <img src="images/vol10.jpg" alt="">
         <div class="icon"> <i class="fas fa-plus"></i> </div>
      </a>

      <a href="images/vol11.png" class="box">
         <img src="images/vol11.png" alt="">
         <div class="icon"> <i class="fas fa-plus"></i> </div>
      </a>

   </div>

</section>

<!-- gallery section ends -->


<section class="order" id="order">

   <div class="heading">
      <span data-aos="fade-right">Application section</span>
      <h3 data-aos="fade-right">leave your application here</h3>
   </div>

   <form action="">
      <div class="box-container">
         <div class="box">
            <div class="inputBox">
               <span>full name</span>
               <input type="text" placeholder="enter your name">
            </div>
            <div class="inputBox">
               <span>Some info about you</span>
               <textarea name="" placeholder="I am..." id="" cols="30" rows="10"></textarea>
            </div>
         </div>
         <div class="box">
            <div class="inputBox">
               <span>number</span>
               <input type="number" placeholder="enter your number">
            </div>
            <div class="inputBox">
               <span>your experience</span>
               <input type="number" placeholder="experience">
            </div>
            <div class="inputBox">
               <span>our address</span>
               <div id="map" style="width:500px; height:150px"></div>
            </div>
         </div>
      </div>
          <button type="submit" class="btn" value="Send" style="margin-left:50px; margin-right:50px ;height:50px;width:70px; font-size:20px">Send</button>
   </form>

</section>

<!-- order section ends -->

<!-- blogs section starts  -->

<!-- footer section starts  -->

<section class="footer">

   <div class="icons-container">
      <div class="icons">
         <i class="fas fa-phone"></i>
         <h3>Hotline</h3>
         <p>+77772121993</p>
      </div>

      <div class="icons">
         <i class="fas fa-envelope"></i>
         <h3>Email</h3>
         <p>riyasyz.kz@gmail.com</p>
      </div>

      <div class="icons">
         <i class="fas fa-map"></i>
         <h3>Address</h3>
         <p>Nur-Sultan, EXPO C1</p>
      </div>
   </div>


</section>

<!-- footer section ends  -->

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<!-- custom js file link  -->
<script src="js/script.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script>
   lightGallery(document.querySelector('.gallery .gallery-container'));
</script>
<script src="map.js" ></script>

</body>
</html>
